{% extends 'base.html' %}

{% block title %}New Ticket{% endblock %}

{% block content %}
<style type="text/css">
    body {
    background: #ddd;
}
.header {
    color: #555;
    margin: 25px 0;
}
.ticket-title {
    font-weight: bold;
}
</style>
<h1 class="header text-center">All Tickets</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3" >
        <ul class="list-group">
            {% for ticket in tickets %}
                <li class="list-group-item">
                    <span class="ticket-title">Machine Id:</span> {{ ticket.machine_id }} <br>
                    <span class="ticket-title">Customer Name: </span> {{ ticket.customer_name }} <br>
                    <span class="ticket-title">Message:</span> {{ ticket.message_text }} 
                </li>
            {% endfor %}
        </ul>
    </div><!-- /.row -->

</div><!-- /.row -->
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    var $formContainer = $("#form-container");
    var success = {{ success|yesno:"true,false" }};
    console.log(success);

    if (success === true) {
        $formContainer.hide();
    }
</script>
{% endblock %}