{% extends 'base.html' %}

{% block title %}New Ticket{% endblock %}

{% block content %}
<style type="text/css">
    body {
    background: #ddd;
}
#form-container {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}
.custom-input {
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    font-family: 'Lato',Helvetica,Arial,sans-serif;
    padding: 7px;
    background: #FFF;
    border: 1px solid #ccc;
    color: #33373D;
    border-radius: 2px;
    font-weight: 300;
    width: 100%;
    height: 40px;
    font-size: 15px;
}
.custom-input:focus {
    border: 1px solid #85B7D9;
    box-shadow: none;
}
.header {
    color: #555;
    margin: 25px 0;
}
label {
    color: #777;
}
.alert-conatiner {
    padding: 0;
}
</style>
<h1 class="header text-center">New Ticket</h1>
<div class="row">

     <div class="col-md-8 col-md-offset-2 alert-conatiner">

        {% if errors %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h5>Errors</h5>
            <ul class="alert-text">

                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                
            </ul>
        </div>
        {% endif %}

        {% if success %}
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Your ticket has been successfully registered. We will soon get back to you.
        </div>
        {% endif %}
     </div>

</div> <!-- /.row -->

<div class="row">
    <form method="POST" action="" class="col-md-8 col-md-offset-2" id="form-container">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-6 form-group">
                <label>Machine ID</label>
                <input type="text" class="form-control custom-input" id="machine-id" name="machine-id">
            </div>
            <div class="col-md-6">
                <label>Customer name</label>
                <input type="text" class="form-control custom-input" id="customer-name" name="customer-name">
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-12 form-group">
                <label>Message</label>
                <textarea class="form-control custom-input" id="message" name="message"></textarea> 
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-12 form-group">
                <button class="btn btn-success" id="submit-btn" name="register">Submit</button>
            </div>
        </div><!-- /.row -->

    </form><!-- /.form -->

</div><!-- /.row -->
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    var $formContainer = $("#form-container"),
        $submitBtn = $("#submit-btn"),
        $customerName = $("#customer-name"),
        $machineId = $("#machine-id"),
        $message = $("#message");

    var success = {{ success|yesno:"true,false" }};

    if (success === true) {
        $formContainer.hide();
    }

    $submitBtn.on("click", function(e) {
        e.preventDefault();
        var confirmString = "Your ticket is being logged with the following details:\n";
        confirmString += "Machine ID: " + $machineId.val() + "\n";
        confirmString += "Customer Name: " + $customerName.val() + "\n";
        confirmString += "Message: " + $message.val();

        var choice = confirm(confirmString);
        if(choice) {
            // Submit form
            $formContainer.submit();
        } else {
            // Do nothing
        }
    });
</script>
{% endblock %}